/*результат работы шаблона по которому формирются стили для svg иконок*/
.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-Codeopen_Color {
	font-size:(60/10)*1rem;
	width:(60/60)*1em;
}
.icon-Coub_Color {
	font-size:(60/10)*1rem;
	width:(60/60)*1em;
}
