$white: #efeee9;
$beige: #eeebdf;
$green: #74a163;
$lightgreen: #ebefe1;
$black: #53595c;
$gray: #aaadaf;
$main-font-color: #373e42;

$main-font-roboto: 'Roboto',"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;

$font__line-height-body: 1.6;
$font__line-height-headers: 1.3;